#start {
    height: 100%;
    width: 100%;
  }
  #compounds{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
  }
  #output-div{
    width: 368px;
    height: 448px;
    overflow: hidden;
  }
  #output{
      height: 328px;
      width:168px;
  }

  
#match{
    
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    
}

#wintxt{
    margin-top: 20px; 
    color: #004466;
    font-weight: bold;
}
.play-again{
    background-color:  rgba(5, 134, 194, 0.911);
   
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px 20px;
    
    margin: 10px;
    border: transparent;
    
}
.shake:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
@media (max-width: 480px){
    .modal-background.srt{
        background-image: url('images/start-bg-mb.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
         min-height: 100%; 
        
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    .modal-background.srt{
        background-image: url('images/start-bg.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
         min-height: 100%;
        
    }   
}
@media (min-width: 1025px){
.modal-background.srt{
    background-image: url('images/start-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 100%;
    
}
}
#strt{
    text-align: center;
    position: absolute;
     bottom: 0px;
    cursor: pointer;
    width: 300px;
    height: 200px;
}
@media (max-width: 480px){
    .reverse-columns {
        background-image: url('images/background-mb.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
         min-height: 100%;
      } 
     
}
@media (min-width: 481px)  {
    #products-div{
        background-color: transparent;
        height: 280px;
        
        border: solid 3px;
        border-radius: 4px;
       margin-left: 10px;
        
        margin-top: 25px;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        border-color: #004466;
        
        bottom: 0px;
    }
    

html {
    background-image: url('images/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 100%;
  }}
#labs{
    width: 100%;
}
.dropzone{
    background-color: transparent;
    height: 250px;
    border: dashed 3px ;
    border-radius: 4px;
    margin: 19px;
    margin-right: 27px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-color: #004466;
    
}

.amount-btn{
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px 20px;
    
    margin: 5px;
    border: transparent;
}
#relieved{
    padding: 30px;
    background-color: green;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    color: #fff;
}
#suffer{
    padding: 30px;
    background-color: #ff531a;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    color: #fff;
}
#wins{
    padding: 30px;
    background-color: #004466;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    color: #fff;
}
#amount{
    padding: 30px;
    background-color: #004466;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
    color: #fff;
}
#result-txt{
    
        margin-top: 15px; 
        color: #fff;
        font-weight: bold;
    
}
.single-product{
    
    width: 70px;
    margin-bottom: 15px;
    padding: 5px;
   margin-right: 25px;
    height: 80px;
}
#lab{
    font-size: 20px;
    color:#004466;
}
#product-txt{
    font-size: 20px;
    color:#004466;
    padding-top: 5px;
}

.item {
    touch-action: none;
    user-select: none;
    border-radius: 10px;
    background-color: #004466;
    margin-bottom: 0px;
    width: 100px;
    height: 105px;
}


 .item.can-drop{
    background-color: rgba(16, 99, 155, 0.822);
    
    border-color: #fff;
    border-style: solid;
}
.item.cant-drop{
    background-color: rgba(201, 10, 10, 0.753);
}

p{
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}



#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: rgba(5, 194, 5, 0.753);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 13px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
.tile{
    margin-top: 10px;
}

.card{
    
    margin: 20px;
}
#patient-tile{
    margin-top: 107px;
    margin-bottom: 40px;
    margin-left: 5px;
    background-color: transparent;
    height: max-content;
}
#patient-style{
    padding: 0px;
    
    margin-left: 20px;
}
#item-style{
    padding: 7px;
   
    
}
#product-style{
    cursor: pointer;
    padding-bottom: 17px;
    
    
}



#description{
    padding-top: 40px;
}

#check{
    display: none;   
    position: relative;
}
@media (max-width: 480px){
  
.base-timer {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    
  }
  #timer-tile{
      margin-top: 0px;
  }
  #score-div{
      margin-right: 15px;
  }
  #plus{
    
    font-size: 100px;
    align-items: center;
    justify-content: center;
    color:#fff;  
}
.dropzone{
    background-color: transparent;
    height: 250px;
    border: dashed 3px ;
    border-radius: 4px;
    margin: 55px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-color: #004466;
    
}
 
#product-style{
    cursor: pointer;
}
#products{
    background-color: transparent;
    height: 250px;
    border: 3px ;
    border-radius: 4px;
    
    padding-top: 3px;
    border-color: #004466;  
}
  
  #time{
      float: right;
      margin-top: 5px;
 
  }
  
  #logo{
      background-image: url('images/logo-m.png');
      background-repeat: no-repeat;
      position: relative;
    float: left;
    width: 70px;
    height: 100px;
  }
 
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 5px;
    stroke: #004466
  }
  
  .base-timer__label {
    position: absolute;
    width: 50px;
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color:#004466
  }
 
  #base-timer-text{
    margin-bottom:5px;
    font-size: 12px;
    color:#004466
  } 
  
}
@media (min-width: 481px){
   
    #medicine{
        margin-top: 30px;
        margin-left:230px ;
        position: relative;
    }
    .single-medicine{
        position: absolute;
        top: 2px;
        width: 100px;
        padding: 10px;
        height: 160px;
    }
  #time{
      margin-left: 210px;
      margin-bottom: 50px;
      float: right;
  }  
.base-timer {
    position: relative;
    width: 80px;
    height: 80px;
   
    
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 5px;
    stroke: #004466
  }
  
  .base-timer__label {
    position: absolute;
    width: 90px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:#004466
  }
 
  #base-timer-text{
    margin-bottom:5px;
    margin-top: 10px;
    font-size: 20px;
    color:#004466
  } }
@media(max-width: 767px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }


.show-medic{
    display: none;
} 

  #components {
    border-color: rgb(122, 119, 119);
  }
  @media (max-width: 480px) {
    #products-div{
        background-color: transparent;
        height: 400px;
        
        border: solid 3px;
        border-radius: 4px;
       margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        border-color: #004466;
        
        bottom: 0px;
    }

    #patients{
        margin-left: 25px;
    }
      #comp{
          margin-top: 90px !important;
          margin-right: 40px !important;
          
      }
      #item-style{
          padding-left: 3px;
      }
      #compounds{
         
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .item {
        touch-action: none;
        user-select: none;
        border-radius: 10px;
        background-color: #004466;
        margin-right: 5px;
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }
    
     .item.can-drop{
        background-color: rgba(16, 99, 155, 0.822);
    }
    .medicine-item {
        touch-action: none;
        user-select: none;
       
    }
    #medicine{
        margin-top: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .single-medicine{
        position: absolute;
        top: 0px;
        width: 100px;
        padding: 10px;
        height: 160px;
       
    }
  } 